@font-face {
  font-family: 'bitterbold';
  src: url('./static/fonts/bitter/bitter-bold-webfont.woff2') format('woff2'),
       url('./static/fonts/bitter/bitter-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bitterbold_italic';
  src: url('./static/fonts/bitter/bitter-bolditalic-webfont.woff2') format('woff2'),
       url('./static/fonts/bitter/bitter-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bitteritalic';
  src: url('./static/fonts/bitter/bitter-italic-webfont.woff2') format('woff2'),
       url('./static/fonts/bitter/bitter-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'bitterregular';
  src: url('./static/fonts/bitter/bitter-regular-webfont.woff2') format('woff2'),
       url('./static/fonts/bitter/bitter-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}